<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated apimodeler -->
      <package
            uri="http://www.example.org/apimodeler"
            class="apimodeler.ApimodelerPackage"
            genModel="model/apimodeler.genmodel"/>
   </extension>

</plugin>
