<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="com.bruno.apimodeler.apis.design.Activator"
               id="com.bruno.apimodeler.apis.design"
	       name="apis">
    </component>
  </extension>
</plugin>
